.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-grille {
  display: flex;
  border: 1px solid #0069D9;
  border-radius: 10px;
  padding: 8px;
  padding-bottom: 4px;
  margin-left: 1%;
  margin-right: 1%;
}

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #6495ED;
  border-radius: 10px;
  padding: 10px;
  min-height: 45px;
  margin-left: 1%;
  margin-right: 1%;
  padding: 0px
}

#dice-zone {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #0069D9;
  border-radius: 10px;
  padding: 2px;
  min-height: 60px;
  margin-left: 1%;
  margin-right: 1%;
}

#buttons-zone {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #0069D9;
  border-radius: 10px;
  padding: 2px;
  min-height: 60px;
  margin-left: 1%;
  margin-right: 1%;
}

.h-player {
  display: flex; 
  height: 30px; 
  justify-content: space-between;
  align-items: center;  
  border-radius: 5px;
  border: 1px solid rgba(100,149,237,.5);
}

.inchange-case {
  display: flex; 
  height: 35px; 
  justify-content: space-between;
  align-items: center;  
  border-radius: 5px;
  border: 1px solid#EA532A;
  padding-top: 2px; 
  /* background-color:rgba(100,149,237,.8); */
  color: #EA532A;
  font-weight: 500;
}

.dynamic-case {
  display: flex; 
  height: 35px; 
  justify-content: space-between;
  align-items: center;  
  border-radius: 5px;
  border: 1px solid rgba(100,149,237,.5);
  padding-top: 2px;
}

.rollingDice {  
  animation-duration: 1s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
